.chat_list{
    background-image: url("../admin/images/furAdmin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* container for background color */
.color_container {
    width: 80%;
    min-height: inherit;
    padding-top: 2em;
    background-color: rgba(87, 73, 33, 0.397);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2em;
}
/* chat convo title */
.chats_with{
color: aliceblue;
}

/* each user convo container */
.each_userchat{
    display: flex;
    column-gap: 1em;
}

/* profile picture */
.prof_pic{
    object-fit: cover;
    width: 5em;
    height: 5em;
}

/* full name */
.fullname{
   text-transform: capitalize;
    color: aliceblue;
}
.atag_name{
    text-decoration: none;
}