/* create a pet content body */
.create_pets {
    background-color: rgba(236, 232, 228, 0.99);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_div {
    background-color: rgb(208, 205, 202);
    width: 30%;
    min-height: 80vh;
    padding: 2em 2em 2em;
    box-shadow: 4px 4px 15px;
}

.pet_category,
.breed,
.gender {
    background-color: rgb(160, 153, 153);
    border: 0px;
    color: aliceblue;
}

#pet_category,
#breed {
    text-transform: capitalize;
}
/* button sumbit */
.create_button{
    display: flex;
    justify-content: center;
   
}
#btn_create_pet{
    width: 50%;
    background-color: rgb(110, 18, 18);
    border: 0;
    
}
/* Title  of the page */
.create_pet_title h4{
    width: 50%;
    text-align: center;
    margin: 0 auto;
    font-size: 2em;
}

/* add border to input fields */
#name,
#age,
#gender,
#pet_category,
#breed{
    border: 1px;
    border-style: solid;
    border-color: black;
}
/* =========================== MEDIA QUERIES ============================ */
@media  screen and (max-width: 1200px) {
    .form_div{
        width: 40%;
    }
}

@media  screen and (max-width: 992px) {
    .form_div{
        width: 50%;
    }
}

@media  screen and (max-width: 768px) {
    .form_div{
        width: 60%;
    }
}

@media  screen and (max-width: 600px) {
    .form_div{
        width: 80%;
    }
}

@media  screen and (max-width: 480px) {
    .form_div{
        width: 100%;
    }
}