.header {
    min-height: 10vh;
    padding-top: 0;
    padding-bottom: 0;
}


.ipantay-nav {
    height:inherit;
    padding-top: 0;
    padding-bottom: 0;
}

.ipantay-cont-fluid {
    background-color: rgba(117, 62, 3, 0.833);
    height: inherit;
}

.logo {
    width: 3em;
    height: 3em;
    background-color: aliceblue;
    border-radius: 45%;

}

.puti-header,
#fur-kanlungan {
    color: rgb(249, 249, 249);
    font-size: 1.4rem;
    padding-right: 1rem;

}

#fur-kanlungan {
    font-weight: bold;
}

li:hover {
    background-color: rgba(85, 48, 8, 0.918);
}

/* make hover of each navbar item cover the entire height of the header */
/* .isagad-hover {
    height: inherit;
    
} */

/********** Media Queries *************/

/* remove the padding-top of navbar */
@media screen and (max-width: 991px) {
    /* .ipantay-nav {
        padding-top: 0;
        padding-bottom: 0;

    } */

}