.logo {
    height: auto;
    width: 300px;
    float: right;
    object-fit: contain;
}

.igitna {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Made it separate for the logo to lessen the confusion when adjusting the responsiveness of the logo */
.igitna-logo {
    display: flex;
    justify-content: right;
    align-items: center;
}

.col-lg-5 h1,
p {
    color: aliceblue;

}

.col-lg-5 p {
    font-size: 20px;
}

.col-lg-5 h1 {
    font-weight: bold;
    font-size: 80px;
}

.sign-in {
    background-image: url("../images/wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* the img logo */
.login {
    background-color: rgba(253, 248, 243, 0.866);
    min-height: 30rem;
    width: 100%;
    min-width: 16rem;
    padding: 0px;
    border-radius: 15px;
    overflow: auto;
}

/* move .login h4 below to add more space on its top side*/
.login h4 {
    position: relative;
    top: 0.5em;
}

.browse-pets {
    text-align: center;
}

/* This is the container for the logo, title, and the login form */
.sapin {
    background-color: rgba(39, 21, 2, 0.649);
    padding: 30px 30px;
    border-radius: 25px;
    width: 90%;
    margin: auto;
    overflow: auto;
}

/* go to bookmarked pet-list id  */
.browse-button {
    margin-top: 30px;
    width: 50%;
    background-color: rgb(110, 18, 18);
    border: 0px;
}

.submit-login {
    margin-top: 30px;
    width: 60%;
    background-color: rgb(110, 18, 18);
    border: 0px;
}

.browse-button:hover,
.submit-login:hover {
    background-color: rgb(54, 10, 10);
}

/* adjust the 'sign in to your account' caption */
.login h4 {
    font-size: 30px;
    /* font-weight: bolder; */
}

/* adjust margin and width to email field */
.lblemail {
    margin-top: 20px;
    width: 350px;
}

.txtemail {
    margin-bottom: 30px;

}

.txtemail,
.txtpwd {
    border: 2px;
    border-color: rgb(54, 10, 10);
    border-style: solid;
}

/* Put in single line the forget password and sign up links*/
.signup {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* adjust the font-sizes of forget password and sign up links*/
.signup p {
    font-size: clamp(0.7em, 0.8vw, 1em);

    margin-top: 1em;
}

/* remove the underline in the link */
.signup a {
    text-decoration: none;
}

.signup p:nth-child(1) {
    margin-right: 2em;
}

.signup p:nth-child(2) {
    color: black;
}


/********** Media Queries *************/


/* MQ between 960px and 1580px */
@media screen and (min-width: 991px) and (max-width: 1580px) {
    .logo {
        height: 200px;
    }

    /* Added to center the logo @ 991px */
    .igitna-logo {
        justify-content: center;
    }

    /* add margin-bottom to browse-button @ 991px */
    .browse-button {
        margin-bottom: 2em;
    }

    .col-lg-5 p {
        font-size: 15px;
    }

    .col-lg-5 h1 {
        font-size: 50px;
    }

    /* adjust the 'sign in to your account' caption */
    .login h4 {
        font-size: 30px;
        /* font-weight: bolder; */
    }

    /* adjust margin and width to email field */
    .lblemail {
        /* margin-top: 40px; */
        width: 250px;
    }

    .txtemail {
        margin-bottom: 30px;
    }

    /* change margin top and bottom*/
    .signup p {
        margin: 0.5em 0em;

    }

    /* adjust the margin-top of .submit-login */
    .submit-login {
        margin-top: 1em;
    }
}

/* center logo when zoomed in */
@media screen and (max-width: 991px) {
    .igitna-logo {
        justify-content: center;
    }

    .login {
        /* background-color: rgba(253, 248, 243, 0.866); */
        width: 80%;

        margin-top: 50px;
        margin-bottom: 50px;
    }

    .sapin {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /* change .login h4 to static again to remove the relative position*/
    .login h4 {
        position: static;
    }
}

/* MQ the .logo to make it wider*/
@media screen and (max-width: 750px) {
    .login {
        width: 80%;
    }
}





/* Adjust the size of login form */
@media screen and (max-width: 600px) {
    .login {
        width: 90%;
    }
}

/* adjust title when width = 560px or below */
@media screen and (max-width: 560px) {
    .col-lg-5 h1 {
        font-size: 50px;
    }

    .login h4 {
        font-size: 1.5rem;
        float: center;
    }

    /* adjust the input fields */
    .txtemail,
    .txtpwd {
        max-width: 15rem;
        margin-left: auto;
        margin-right: auto;

    }

    /* adjust the width of the labels */
    .lblemail {
        width: 5em;
    }
}


@media screen and (max-width: 420px) {

    /* change margin top and bottom*/
    .signup p {
        margin: 0.5em 0em;

    }

    /* add space between the submit button and the signup div */
    .submit-login {
        margin-top: 0;
        margin-bottom: 1.5em;
    }

    /* remove the margin-right to center the forget password text */
    .signup p:nth-child(1) {
        margin-right: 0em;
    }
}

/* make it responsive to Galaxy Fold at 280px */
@media screen and (max-width: 280px) {
    .col-lg-5 h1 {
        font-size: 30px;
    }

    .col-lg-5 p {
        font-size: 15px;
    }

    .logo {
        height: 100px;
    }


}

/* ========================================= Sign Up Form ====================================== */

/* make the signup form background the same as the login form background */
.register {
    background-color: rgb(229, 224, 221);
    width: 26%;
    min-height: 30rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: none;
    /* display: flex;
    justify-content: center; */
    position: absolute;
    top: 10.5%;
    right: 37%;
    z-index: 9999;
    opacity: 0.99;
    border-radius: 15px;
    
}

/* make the names in a single row */
.names-in-row {
    display: flex;
    justify-content: space-between;
}


/* style the border and the width of Name*/
#reg-firstname,
#reg-lastname {
    width: 48%;
    border: 2px;
    border-color: rgb(54, 10, 10);
    border-style: solid;
}

#reg-email,
#reg-password,
#reg-conf-password,
.reg-id {
    border: 2px;
    border-color: rgb(54, 10, 10);
    border-style: solid;
}

/* adjust the font-sizes of terms and conditions and back to sign in links*/
.back-to-signin p {
    font-size: clamp(0.7em, 0.8vw, 1em);
    color: black;
    margin-top: 1em;
}

/* change the color of the sign up button */
.submit-reg {

    width: 50%;
    background-color: rgb(110, 18, 18);
    border: 0px;
}

.submit-reg:hover {
    background-color: rgb(54, 10, 10);

}


/* align to center the 'create an account' phrase */
.label-create {
    text-align: center;
    margin: 0.5em 0 0;
    font-weight: 500;
    font-size: clamp(1.7rem, 2.5vw, 2rem);
}

/* add padding to the form container*/
.add-padding {
    padding: 0 2rem;

}

/* link-signup color to blue */
#link-signup {
    color: rgb(68, 68, 237);
    cursor: pointer;
}




/* Media Queries */

/* adjust the width of .register */
@media screen and (max-width:1200px) {
    .register {
        width: 30%;
        right: 35%;
    }
}

@media screen and (max-width:991px) {
    .register {
        width: 40%;
        right: 30%;
    }
}

@media screen and (max-width:750px) {
    .register {
        width: 60%;
        right: 20%;
    }
}

@media screen and (max-width:450px) {
    .register {
        width: 95%;
        right: 2.5%;
    }
}