/* The whole my pets section */
.my_pets {
    background-image: url("../images/fur1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(236, 232, 228, 0.99);
    display: flex;

    align-items: center;
    flex-direction: column;
}

/* The inner div horizontally center the pet list */
.list_my_pets {
    width: 80%;
    min-height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 0 0 0;
    background-color: rgba(87, 73, 33, 0.397);

}

/* the div that will take you to add pet page when the add pet button is clicked */
.create_pets {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(236, 160, 85);
    width: 60%;
    height: 15vh;
    margin: 0 0 0.5em 0;
    
}

/* add shadow to boxes */
.create_pets,
.each_pet {
    box-shadow: 5px 5px 15px;
}

/* the div of each pet */
.each_pet {
    display: flex;
    background-color: rgb(249, 217, 184);
    width: 60%;
    min-height: 10vh;
    margin: 0 0 0.5em 0;

}

/* for no pets message container */
.zero_pets {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(249, 217, 184);
    width: 60%;
    height: 10vh;
    margin: 0 0 0.5em 0;
}

/* pet image container */
.pet_img {

    flex: 1;
}

/* the actual image */
.pet_photo img {
    height: 100%;
    width: 8em;
    object-fit: cover;
}

/* pet name container */
.pet_name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 3;
}

.pet_name div {
    text-transform: capitalize;
}

/* adjust the font size and font style */
.pet_name,
.zero_pets {
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;

}

/* remove link decoration */
.pet_name a {
    text-decoration: none;
    color: initial;
}


/* for updating and deleting pet data */
.update_pets,
.delete_pets {
    /* background-color: cadetblue; */
    /* width: 30%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  
}
.update_pets a,
.delete_pets a{
    
    color: black;
}

/* adopted icon */
#adopted_icon {
    width: 25px;
    height: 25px;
}

/* for the div of the icons: .pang-row */
.pang-row {
    display: flex;
    flex: 1;
}

/* delete icon */
.delete_pet_img{
    cursor:pointer;
}

/* ============================= MEDIA QUERIES ============================== */
@media screen and (max-width: 1024px) {

    .each_pet,
    .create_pets {
        width: 90%;

    }



}

@media screen and (max-width: 992px) {

    .each_pet,
    .create_pets {
        width: 90%;

    }



}

@media screen and (max-width: 767px) {

    .each_pet,
    .create_pets {
        width: 90%;

    }

    .list_my_pets {
        width: 100%;

    }

}

@media screen and (max-width: 480px) {

    .each_pet,
    .create_pets {
        flex-direction: column;
        align-items: center;
        padding: 1em 0.5em;
    }

    .each_pet {
        min-height: 15em;
    }

    .update_pets {
        margin-right: 3em;
    }
}