body {
    background-color: rgba(236, 232, 228, 0.99);
}

/* Browse Pets part */
.pet-list {
    background-color: rgba(236, 232, 228, 0.99);
}

.type-search {
    width: 30em;
    height: 2.5em;
    border: 2px;
    border-color: rgb(54, 10, 10);
    border-style: solid;
}

.press-search {
    width: 10em;
    border: 0px;
}

.choose-animal {
    padding-left: 2em;
    padding-right: 2em;
}

.choose-animal,
.press-search {
    background-color: rgb(110, 18, 18);
    color: aliceblue;
}

.search-nav {
    padding: 0;
}

.choose-animal:hover,
.press-search:hover {
    background-color: rgb(54, 10, 10);
}

.choose-animal:focus {
    background-color: rgb(54, 10, 10);
}

/* Modify the pagination bar */
.no-margin-bottom li {
    padding-left: 8px;
    padding-right: 8px;
}

.no-margin-bottom li a,
.no-margin-bottom li a:hover {
    border-radius: 20%;
    color: rgba(110, 18, 18, 0.726);
    border: 2px;
    border-color: rgb(54, 10, 10);
    border-style: solid;
}

.no-margin-bottom li a:active {
    background-color: rgb(54, 10, 10);
    color: aliceblue;
}

/* adjust the pagination width to overflow: auto */
.pagination {
    overflow: auto;
}

/* set to justify-content: between the .wrap-search div */
.wrap-search {
    display: flex;
    justify-content: space-between;
}

/* uniform size for dog pics in card display */
.card img {
    height: 15em;
    width: 18em;
    object-fit: cover;
}

.ipa-grey {
    background-color: rgb(58, 57, 57);
}

/********** Media Queries *************/

/* Adjust the category and search button */
@media screen and (max-width: 991px) {
    .type-search {
        width: 15em;

    }

    .choose-animal {
        width: 10em;
    }

    .filter {
        overflow: auto;
    }
    /* make the dropdown content appear */
    .wrap-search{
        overflow: visible;
    }
}

@media screen and (max-height: 650px) {
    .no-margin-bottom {
        margin-bottom: 0;
    }

    .page-number {
        padding-bottom: 2em;
    }
}


/* center the animal type and search form once they flex-wrap together */
@media screen and (max-width: 768px) {
    .wrap-search {
        display: flex;
        justify-content: center;
        /* flex-direction: column; */
     }
    /* .middle-search{
        display: flex;
        justify-content: center;
        width: 100%;
    } */

}

/* no margin to align the search button and textbox */
@media screen and (min-width: 432px) and (max-width: 480px) {
    .press-search {
        margin-top: 0;
    }
}

/* bring the margin top back @ < 432px */
@media screen and (max-width: 431px) {
    .press-search {
        margin-top: 1em;
    }
}