/* The whole my pet info section */
.pet_info {
    background-image: url("../admin/images/furAdmin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: rgba(236, 232, 228, 0.99); */
    display: flex;
    align-items: center;
}

.pet_pics {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(31, 20, 12, 0.904);
    flex: 1;
    height: 100vh;
    position: relative;
}

.pet_pics img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.pet_details {
    background-image: inherit;
    flex: 1;
  height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y:auto;
}

.details_container {
    background-color: rgba(87, 73, 33, 0.726);
    border-radius: 5%;
    height: 99vh;
    width: 45vw;
    padding: 2em;
    overflow-y:auto;
}

/* color of the text */
.details_container .name {
    color: aliceblue;
}

/* adjust the previous button and next button */
.previous_pic img,
.next_pic img {
    height: clamp(35px, 15vh, 80px);
    /*why not working */
    border-radius: 50%;
}

.previous_pic {
    margin: 0 0 0 0.5em;
    position: absolute;
    left: 0;
}

.next_pic {
    margin: 0 0.8em 0 0;
    position: absolute;
    right: 0;
}


.next_pic img:active {
    width: 8em;
}

.previous_pic img:active {
    width: 8em;
}


/* back image */
#backTo {
    height: 3em;
    width: 3em;
}

/* back button and title */
.back_img {
    display: flex;
    align-items: center;
    text-transform: capitalize;

}

.prodName {
    display: flex;
    column-gap: 0.5em;
    justify-content: center;
    font-size: 2.5em;
    width: 50%;
    flex: 0.9;

}

.prodName span {
    font-weight: bolder;
    color:rgb(201, 183, 168);
}

/* shop, price and pet type container */
#not_desc {
    margin-top: 2em;
    padding-bottom: 1em;
    border-bottom-style: solid;
    border-color: rgb(87, 73, 33);
}

#not_desc  div span{
    margin-left: 1em;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.2em;
    color:rgb(201, 183, 168);
}

#desc {
    height: 50vh;
    overflow-x: hidden;
    overflow-y: scroll;
    word-wrap: break-word;
    background-color: rgba(87, 73, 33, 0.568);
    padding-left: 5px;
    margin-bottom: 0.5em;
}

#desc .name div{
    text-indent: 3em;
    font-size: large;
    /* text-align: justify; */
    /* text-justify: inter-word; */
}
#desc .name div:first-letter{
    text-transform: capitalize
  }

/* the blue button below */
.go_back{
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* ===================== MEDIA QUERIES ======================== */
@media screen and (max-width: 991px) {
    .pet_info {
        flex-direction: column;
    }
}