/* The whole my pet info section */
.clinic_info {
    background-image: url("../images/furAdmin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;

}

.clinic_pics {
    display: flex;
    /* align-items: center; */
    background-color: rgba(31, 20, 12, 0.904);
    flex: 2;
    height: 100vh;
    position: relative;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    row-gap: 1em;
    /* grid-template-rows: repeat(auto-fit, minmax(10em, 1fr)); */
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1em 0.5em;
}

/* the images */
.each_img {
    height: clamp(10em, 10vw, 20em);
    width: 10em;
    object-fit: cover
}

.each_img:active {
    width: clamp(20em, 10vw, 20em);
    height: 20em;
    transform: scale(1.1);
    transition: transform 0.25s;
}

.each_photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.each_photo img {
    cursor: pointer;
    box-shadow: 5px 5px 10px 3px #888888;
}


.serv_desc {
    background-color: rgba(87, 73, 33, 0.397);

    height: 100vh;
    padding: 1em;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    flex: 0.7;
}

/* pinakatitle */
.pinakaTitle {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 3em;
}

/* back image */
#backTo {
    height: 3em;
    width: 3em;
}


/* this is for the container of both back button and validate button */
.back_img {
    /* width: 100%; */
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* This is the container of back button only */
.back_img_inner {
    flex: 1;
}

.btn_validate {
    flex: 1;
    display: flex;
    justify-content: center;
}

.filler{
    flex: 1;
}

/* ========================================= MEDIA QUERIES ==================================== */

@media screen and (max-width: 848px) {
    .pinakaTitle{
        /* display: flex;
        justify-content: center;
        align-items: center; */
        text-align: center;
        margin-bottom: 1em;
    }

    .back_img{
        flex-direction: column;
        row-gap: 2em;
    }
}


@media screen and (max-width: 480px) {
.clinic_info{
    flex-direction: column;
}
.clinic_pics{
    width: 100vw;
}
}