/* create a pet content body */
.create_pets {

    background-image: url("../images/fur1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
   
   

    display: flex;
    align-items: center;
    justify-content: center;
}

#layer {
    min-height: 100vh;
    width: 80%;
    display: flex;
    justify-content: center;
    padding-top: 5em;
    background-color: rgba(87, 73, 33, 0.397);

}

.form_div {

    background-color: rgba(244, 195, 147, 0.766);
    width: 60%;
    height: 80%;
    padding: 2em 2em 2em;
    box-shadow: 8px 8px 15px;
    border-radius: 3%;
}

.pet_category,
.breed,
.gender {
    background-color: rgb(160, 153, 153);
    border: 0px;
    color: aliceblue;
}

#pet_category,
#breed {
    text-transform: capitalize;
}

/* button sumbit */
.create_button {
    display: flex;
    justify-content: center;
    margin: 2em 0 0 0;
}

#btn_create_pet {
    width: 20%;
    background-color: rgb(110, 18, 18);
    border: 0;

}

#btn_create_pet:hover {
    width: 20%;
    background-color: rgb(54, 10, 10);
    border: 0;

}




#back:hover {

    background-color: rgb(54, 10, 10);
    border: 0;

}

/* Title  of the pbirthyear */
.create_pet_title div h4 {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    font-size: 2em;
}

/* add border to input fields */
#name,
#birthyear,
#gender,
#pet_category,
#breed,
#upload_pics,
#description {
    border: 2px;
    border-style: solid;
    border-color: black;
}

/* display: non the _err divs */
#name_err,
#birthyear_err,
#gender_err,
#pet_category_err,
#breed_err,
#upload_pics_err,
#description_err {
    display: none;
}

/* backTo button */
#backTo {
    height: 3em;
    width: 3em;
}

/* =========================== MEDIA QUERIES ============================ */


@media screen and (max-width: 768px) {
    .form_div {
        width: 60%;
    }
}

@media screen and (max-width: 600px) {
    .form_div {
        width: 80%;
    }
}

@media screen and (max-width: 480px) {

    .form_div,
    #layer {
        width: 100%;
    }

    

    .create_pet_title div {
        display: flex;
        justify-content: center;
    }
}