/* The whole my pet info section */
.product_info {
    background-image: url("../images/furAdmin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: rgba(236, 232, 228, 0.99); */
    display: flex;
    align-items: center;

}

.product_pics {
    display: flex;
    /* align-items: center; */
    background-color: rgba(31, 20, 12, 0.904);
    flex: 1;
    height: 100vh;
    position: relative;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    row-gap: 1em;
    /* grid-template-rows: repeat(auto-fit, minmax(10em, 1fr)); */
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1em 0.5em;
}

/* the images */
.each_img {
    height: 10em;
    width: clamp(10em, 10vw, 20em);
    object-fit: cover
}

.each_img:active {
    width: 20em;
    height: 20em;
    transform: scale(1.1);
    transition: transform 0.25s;
}

.each_photo {
    display: flex;
    justify-content: center;
}

.each_photo img {
    cursor: pointer;
    box-shadow: 5px 5px 10px 3px #888888;
}

.serv_desc {
    background-color: rgba(87, 73, 33, 0.397);
    height: 100vh;
    padding: 1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0.7;
}

/* back image */
#backTo {
    height: 3em;
    width: 3em;
}

.back_img {
    /* width: 100%; */
    margin-bottom: 2em;
}

.description{
    overflow-y: auto;
}

/* description title */
.bold_des{
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 1em;
    
}

.paragraph{
    font-weight:500;
    /* font-size: 1em; */
    margin-bottom: 1em;
}