/* The whole my entity section */
.entity {
    background-image: url("../images/furAdmin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(200, 196, 192, 0.99);
    display: flex;

    align-items: center;
    flex-direction: column;
}

/* The inner div horizontally center the entity list */
.list_entity {
    width: 90%;
    min-height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding: 5em 0 0 0; */
    background-color: rgba(87, 73, 33, 0.397);
}

.categories {
    width: 100%;
    padding: 3.5em 2em 2em 2em;
    /* background-color: rgba(167, 133, 40, 0.637); */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 1em;
    column-gap: 0.5em;
}

.entity_category,
.municipality {
    width: 15%;

    background-color: rgb(110, 18, 18);
    color: aliceblue;
    text-transform: capitalize;

}

/* MUNICIPALITY */

.get_muni_name {
    color: aliceblue;
    background-color: rgba(200, 196, 192, 0.99);
    text-transform: capitalize;
}

.municipality {
    display: none;
}

/* USER CATEGORY */

.user_category {
    display: none;
    width: 15%;
    background-color: rgb(110, 18, 18);
    color: aliceblue;
    text-transform: capitalize;
    border-radius: 5%;
}

/* PET CATEGORY */

.pet_menu,
.pet_type,
.breed,
.birthyear,
.sex,
.vaccinated {
    display: none;
    width: 15%;
    background-color: rgb(110, 18, 18);
    color: aliceblue;
    text-transform: capitalize;
    border-radius: 5%;
}

/* set max-height of animal type and set it to overflow: auto */
.entity,
.user_menu,
.get_muni_name {
    max-height: 20rem;
    overflow: auto;
    color: aliceblue;
    text-transform: capitalize;

}

/* SEARCH BAR */
.middle-search {
    width: 20%;
    /* justify-self: end; */
    display: none;
}

/* div that contains the grid */
.grid-container {
    width: 100%;
    display: grid;
    /* justify-content: center;
    align-content: center; */
    row-gap: 0.5em;
    /* column-gap: 0.5em; */
    margin-top: 2em;
    padding: 0.5em;
    background-color: rgb(99, 63, 34);
    border-color: black;
    border-style: solid;
    border-width: 0 3px;
    /* grid-row-gap: 50px; */
    margin-bottom: 5em;
}

/* container of the column headers */
.col_users {
    display: none;
    /* justify-content: center;
    align-content: center; */
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
    color: aliceblue;
}

.not_owned,
.unver_ver {
    display: none;
    /* justify-content: center;
    align-content: center; */
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
    color: aliceblue;
}


.col_users div,
.unver_ver div,
.not_owned div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* each user_categ row */
.each_user_categ {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: auto;

    border: 1px;
    border-style: solid;
    border-color: black;
    column-gap: 2px;
}

/* each not_owned row */
.each_not_owned {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;

    border: 1px;
    border-style: solid;
    border-color: black;
    column-gap: 2px;
}

/* each user_categ grid item */
.each_user_categ>div:nth-child(even) {
    background-color: rgba(200, 196, 192, 0.99);
    color: black;
}

/* .each_user_categ>div:nth-child(even):hover {
    color: aliceblue;
} */

.each_user_categ>div:nth-child(odd) {
    background-color: rgba(193, 125, 56, 0.99);

}

/* .each_user_categ>div:nth-child(odd):hover {
    color: black;
} */

.each_user_categ div {
    text-transform: capitalize;
    grid-row: 1;
    padding: 0.2em;
    /* color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.4rem, 1vw, 1rem);

    border-color: black;
    border-style: solid;
    border-width: 0 1px;

    font-weight: 500;
    word-wrap: break-word;
}

.each_user_categ div:hover {
    box-shadow: 5px 5px 15px 5px;
}