.shop {
    background-image: url("../images/furAdmin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(200, 196, 192, 0.99);
    display: flex;

    align-items: center;
    flex-direction: column;
}
/* center title */
#title h4{
    text-align: center;
}

.list_shop {
    width: 90%;
    min-height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 0 0 0;
    background-color: rgba(87, 73, 33, 0.397);

}
form{
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(244, 195, 147, 0.766);
    padding: 2em;
    border-radius: 5%;
    box-shadow: 5px 5px 10px 5px;
}

.form{
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 0 1rem;
}

#backTo{
    height: 3em;
    width: 3em;
    margin-bottom: 1em;
    border-radius: 50%;
}

#backTo:hover{
    box-shadow: 5px 5px 5px ;
}

.shop_short_details,
.services,
.description{
    flex: 1;
}

#services,
#description{
    width: 100%;
    height: 95%;
    background-color: rgba(218, 226, 226, 0.603);
    border:0;
}

/* municipality */
#municipality{
    background-color: rgb(160, 153, 153);
    color: aliceblue;
    text-transform: capitalize;
}