/* The whole my entity section */
.entity {
    background-image: url("../images/furAdmin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(200, 196, 192, 0.99);
    display: flex;

    align-items: center;
    flex-direction: column;
}

/* The inner div horizontally center the entity list */
.list_entity {
    width: 90%;
    min-height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding: 5em 0 0 0; */
    background-color: rgba(87, 73, 33, 0.397);
}

.categories {
    width: 100%;
    padding: 3.5em 2em 2em 2em;
    /* background-color: rgba(167, 133, 40, 0.637); */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.entity_category,
.municipality {
    width: 15%;
  
    background-color: rgb(110, 18, 18);
    color: aliceblue;
    text-transform: capitalize;

}

/* municipality */

.get_muni_name{
    color: aliceblue;
    background-color: rgba(200, 196, 192, 0.99);
    text-transform: capitalize;
}

.municipality{
    display: none;
}

/* user */

.user_category {
    display: none;
    width: 15%;
    background-color: rgb(110, 18, 18);
    color: aliceblue;
    text-transform: capitalize;
    border-radius: 5%;
}

/* set max-height of animal type and set it to overflow: auto */
.entity,
.user_menu,
.get_muni_name {
    max-height: 20rem;
    overflow: auto;
    color: aliceblue;
    text-transform: capitalize;

}

/* search bar */
.middle-search {
    width: 20%;
    /* justify-self: end; */
    display:none;
}
/* div that contains the grid */
.grid-container {
    width: 100%;
    display: grid;
    /* justify-content: center;
    align-content: center; */
    row-gap: 0.5em;
    /* column-gap: 0.5em; */
    margin-top: 2em;
    padding: 0.5em;
    background-color: rgb(99, 63, 34);
    border-color: black;
    border-style: solid;
    border-width: 0 3px;
    /* grid-row-gap: 50px; */
    margin-bottom: 5em;
}

/* container of the column headers */
.col_users {
    display: none;
    /* justify-content: center;
    align-content: center; */
    grid-template-columns: 0.5fr 1fr 1fr 1fr  1fr 0.5fr ;
    color: aliceblue;
}

.col_users div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* the div that will take you to add entity page when the add entity button is clicked */
/* .admin_create_entity {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(236, 160, 85);
    width: 60%;
    height: 15vh;
    margin: 0 0 0.5em 0;
    
} */

/* add shadow to boxes */
/* .admin_create_entity,
.each_entity {
    box-shadow: 5px 5px 15px;
} */

/* the div of each entity */
/* .each_entity {
    display: flex;
    background-color: rgb(249, 217, 184);
    width: 60%;
    min-height: 10vh;
    margin: 0 0 0.5em 0;

} */

/* for no entity message container */
/* .zero_entity {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(249, 217, 184);
    width: 60%;
    height: 10vh;
    margin: 0 0 0.5em 0;
} */

/* entity image container */
/* .entity_img {

    flex: 1;
} */

/* the actual image */
/* .entity_photo img {
    height: 100%;
    width: 8em;
    object-fit: cover;
} */

/* entity name container */
/* .entity_name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 3;
} */
/* 
.entity_name div {
    text-transform: capitalize;
} */

/* adjust the font size and font style */
/* .entity_name,
.zero_entity {
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;

} */

/* remove link decoration */
/* .entity_name a {
    text-decoration: none;
    color: initial;
}
 */

/* for updating and deleting entity data */
/* .update_entity,
.delete_entity { */
/* background-color: cadetblue; */
/* width: 30%; */
/* display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  
} */
/* .update_entity a,
.delete_entity a{
    
    color: black;
} */

/* adopted icon */
/* #adopted_icon {
    width: 25px;
    height: 25px;
} */

/* for the div of the icons: .pang-row */
/* .pang-row {
    display: flex;
    flex: 1;
} */

/* delete icon */
/* .delete_entity_img{
    cursor:pointer;
} */

/* ============================= MEDIA QUERIES ============================== */
/* @media screen and (max-width: 1024px) {

    .each_entity,
    .admin_create_entity {
        width: 90%;

    }



} */

/* @media screen and (max-width: 992px) {

    .each_entity,
    .admin_create_entity {
        width: 90%;

    }



} */
/* 
@media screen and (max-width: 767px) {

    .each_entity,
    .admin_create_entity {
        width: 90%;

    }

    .list_entity {
        width: 100%;

    }

}

@media screen and (max-width: 480px) {

    .each_entity,
    .admin_create_entity {
        flex-direction: column;
        align-items: center;
        padding: 1em 0.5em;
    }

    .each_entity {
        min-height: 15em;
    }

    .update_entity {
        margin-right: 3em;
    }
} */