.form-container {
    background-image: url("../../images/wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h4 {
    font-size: 30px;
}

/* resuable class for centering elements in a div */
.igitna {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: auto;
    width: 8rem;
    float: right;
    object-fit: contain;
    margin-bottom: 2em;
}

.admin-login {
    min-height: 70vh;
    width: 30vw;
    background-color: rgba(253, 248, 243, 0.91);
    border-radius: 1em;
    flex-direction: column;
}

/* center the sign in as administrator text */
.sign-in-as-admin {
    text-align: center;
}

.submit-login {
    background-color: rgb(110, 18, 18);
    border: 0;
    color: aliceblue;
    padding: 0.3em 2em;
    margin-bottom: 1em;
}

.submit-login:hover {
    background-color: rgb(54, 10, 10);
}

.txtemail,
.txtpwd {
    width: 100%;
}

/* Media Queries */

/* add margin to button @max-width : 390px */
@media screen and (max-width: 400px) {
    .admin-login{
        min-width: 90vw;
        /* height: 80vh; */
    }
}
@media screen and (min-width: 400px) and (max-width: 1200px){
    .admin-login{
        min-width: 60vh;
        
    }
}